body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7%;
    left: 10%;
    line-height: 2rem;
}
.line-1 {
    line-height: 1.25rem !important;
}
.line-normal {
    line-height: normal !important;
}
.margin-top-1 {
    margin-top: 1rem !important;
}
.margin-bottom-1 {
    margin-bottom: 1rem !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.width-500 {
    width: 500px !important;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    white-space: pre;
    font-weight: 500;
}