body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7%;
    left: 10%;
    line-height: 2rem;
}
.line-1 {
    line-height: 1.25rem !important;
}
.line-normal {
    line-height: normal !important;
}
.width-500 {
    width: 500px !important;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    white-space: pre;
    font-weight: 500;
}
.p2 {
    font-weight: 700;
}
.p3 {
    font-style: italic;
}
.p4 {
    text-decoration: underline;
}
.p5 {
    color: red;
}
.p7 {
    text-align: end;
}
.p8 {
    text-align: center;
}
.p9 {
    text-align: justify;
}
.p6, .p7, .p8, .p9 {
    font-size: 17px;
}