html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.main-container {
  max-width: 80%;
  padding: 15px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.btn-bd-primary {
  --bd-custom-bg: #0d6efd;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-custom-bg);
  --bs-btn-border-color: var(--bd-custom-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-disabled-bg: var(--bd-custom-bg);
  --bs-btn-disabled-border-color: var(--bd-custom-bg);
}

.bd-mode-toggle {
  z-index: 1500;
}